 body {
       padding-top: 70px; /* Dostosuj do wysokości nagłówka */
     }
     header {
       position: fixed;
       width: 100%;
       top: 0;
       left: 0;
       z-index: 1000;
       background-color: transparent; /* Zmiana tła na przezroczyste */
       border-bottom: none; /* Usuń dolną krawędź */
       box-shadow: none; /* Usuń box-shadow */
     }
     .task-container {
       max-height: 80vh; /* Dostosuj w razie potrzeby */
       overflow-y: auto;
     }
     .task-header {
       position: sticky;
       top: 0;
       background-color: white;
       z-index: 10;
       padding-top: 1rem;
     }

.task-container h1 {
  color: #333;
}

.task-container form {
  margin-bottom: 20px; /* Add margin-bottom to separate form from task list */
}

.task-list {
  max-height: 400px; /* Set a max-height for the task list */
  overflow-y: auto; /* Add vertical scrolling */
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.task-list ul {
  list-style-type: none;
  padding: 0;
}

.task-list ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list ul li:last-child {
  border-bottom: none;
}

.task-list ul li button {
  background: none;
  border: none;
  color: #dc3545;
  font-size: 1.2em;
  cursor: pointer;
}

.form-group input {
  border-radius: 20px;
  padding: 10px 15px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 20px;
  padding: 10px 20px;
}


