<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <script defer src="/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Witamy w aplikacji Todo List</h1>
    <p class="description">Zarządzaj swoimi zadaniami łatwo i skutecznie dzięki naszej aplikacji Todo List. Dodawaj, edytuj i usuwaj zadania, aby zawsze być na bieżąco ze swoimi obowiązkami.</p>
    <button onclick="window.location.href='/login'">Zaloguj się</button>
    <button onclick="window.location.href='/register'">Zarejestruj się</button>
</div>
</body>
</html>
